.button {
  font-family: inherit;
  border: 1px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--contained {
    display: block;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;

    color: var(--light-color);
    background-color: var(--accent-color);
    font-weight: var(--bolt-font);
    font-size: var(--secondary-font-size);
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &--contained:hover,
  &--contained:focus {
    background-color: var(--accent-color-hover);
  }
}
