.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  gap:15px 8px;

  @media screen and (max-width: 767px) {
    justify-content: flex-start;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__button {
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--primery-color);
  background-color: var(--backgound-gray-color);
  font-family: var(--primery-font);
  font-weight: var(--medium-font);
  font-size: var(--secondary-font-size);
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--light-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
