.section.overlay {
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 400px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/hero/hero-480/hero-480.jpg);
}

@media screen and (min-device-pexel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section.overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/hero/hero-480/hero-480@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .section.overlay {
    background-size: 768px 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/hero/hero-768.jpg);
  }
}

@media screen and (min-device-pexel-ratio: 2) and (min-width: 481px),
  screen and (min-resolution: 192dpi) and (min-width: 481px),
  screen and (min-resolution: 2dppx) and (min-width: 481px) {
  .section.overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/hero/hero-768@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .section.overlay {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/hero/hero-1600.jpg);
  }
}

@media screen and (min-device-pexel-ratio: 2) and (min-width: 769px),
  screen and (min-resolution: 192dpi) and (min-width: 769px),
  screen and (min-resolution: 2dppx) and (min-width: 769px) {
  .section.overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/hero/hero-1600@2x.jpg);
  }
}

.hero-title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: var(--bolder-font);
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--light-color);
  @media screen and (min-width: 1200px) {
    max-width: 696px;
    margin-top: 0px;
    font-size: 44px;
    line-height: 1.36;
  }
}
