
.clients {
	display: flex;
	justify-content: center;
	align-items: center;
}

.client__item {
	width: 170px;
	height: 92px;
	
	&:not(:last-child) {
		margin-right: 30px;
	}
}

.client__link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--link-client-color);
	width: 100%;
	height: 100%;
	border: 1px solid currentColor;
	border-radius: 4px;
	transition: var(--transition-dur-and-fun);
	
	&:hover,
	&:focus {
		color: var(--accent-color);
		border-color: currclient__link
	}
}

.client__icon {
	fill: currentColor;
}
