.footer__logo {
	display: inline-block;
	margin-bottom: 20px;
	color: var(--light-color);
	font-family: var(--secondary-font);
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
	text-decoration: none;
	letter-spacing: 0.03;
}

.footer__logo--accent {
	color: var(--accent-color);
}
