.contacts {
	display: inline-block;
	& .contacts__item:not(:last-child) {
		margin-bottom: 9px;
	}
}

.contacts__item {
	display: block;
	margin-top: 0;
}

.contacts__location {
	color: var(--light-color);
	font-style: normal;
	font-weight: var(--normal-font);
	font-size: var(--primary-font-size);
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: none;
	transition: var(--transition-dur-and-fun);
	
	&:hover,
	&:focus {
		color: var(--accent-color)
	}
}

.contacts__mail-tel {
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-weight: var(--normal-font);
	font-size: var(--primary-font-size);
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: none;
	transition: var(--transition-dur-and-fun);
	&:hover,
	&:focus {
		color: var(--accent-color)
	}
}

