//0-767px
@media screen and (max-width: 767px) {
	.site--nav {
		display: none;
	}

	.mobile-menu-open {
		position: absolute;
		top: 10px;
		right: 15px;
		background-color: transparent;
		border: none;
		padding: 0;
		line-height: 0;
	}
}

.header {
	padding-top: 16px;
	padding-bottom: 16px;
}

.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	.mobile-menu-open {
		display: none;
	}
}

.main__nav {
	display: flex;
	align-items: center;
}

.site--nav {
	display: flex;
}

.site--nav .site--nav__item:not(:last-child) {
	margin-right: 50px;
}
// .header {
// 	border-bottom: 1px solid #ECECEC;
// }

// .header__content {
// 	display: flex;
// 	align-items: center;
// }

// .main__nav {
// 	display: flex;
// 	align-items: center;
// }

// .site--nav {
// 	display: flex;
// }

// .site--nav .site--nav__item:not(:last-child) {
// 	margin-right: 50px;
// }

// .menu-item {
// 	position: relative;
// }

// .site--nav__link {
// 	display: block;
// 	position: relative;
// 	color: var(--primery-color);
// 	font-weight: var(--medium-font);
// 	text-decoration: none;
// 	line-height: 1.14;
// 	letter-spacing: 0.02em;
// 	padding-bottom: 32px;
// 	padding-top: 32px;
// 	bottom: -1px;
// 	transition: var(--transition-dur-and-fun);
// 	&:hover,
// 	&:focus {
// 		color: var(--accent-color);
// 	}
// }

// .site--nav__link.site--nav__current {
// 	color: var(--accent-color);
// }

// .site--nav__current::after {
// 	content: '';
// 	position: absolute;
// 	left: 0;
// 	bottom: 0;
// 	display: block;
// 	width: 100%;
// 	height: 4px;
// 	border-radius: 2px;
// 	background-color: var(--accent-color);
// }
