.logo {

	color: var(--primery-color);
	font-family: var(--secondary-font);
	font-size: 26px;
	font-weight: var(--bolt-font);
	line-height: 1.19;
	text-decoration: none;
	letter-spacing: 0.03;
	margin-right: 93px;
}

.logo__accent {
	color: var(--accent-color);
}