:root {
  --primery-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --light-color: #ffffff;
  --backgound-gray-color: #f5f4fa;
  --link-client-color: #afb1b8;
  --image-border: 1px solid #eeeeee;
  --primery-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --normal-font: 400;
  --medium-font: 500;
  --bolt-font: 700;
  --bolder-font: 900;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
}
